@media screen and (max-width: 811px) {
    .menu-btn {
        display: block;
        margin-right: 20px;
        scale: 1.5;
    }

    .search-bar {
        position: absolute;
        right: -300px;
        top: 64px;
        height: 64px;
        z-index: 30;
        transition: right 0.3s ease;
    }

    .search-bar.active {
        right: 0;
    }
    
    .search-input {
        border-radius: 0;
        border: 1px solid #06387a;
        font-size: 1.1rem;
        width: 175.9px;
        height: 64px;
        font-size: 1.1rem;
    }

    .search-btn {
        border-radius: 0;
        font-size: 1.1rem;
        padding: 0 20px;
    }

    .nav-links {
        position: absolute;
        right: 0;
        top: 128px;
        width: 270px;
        z-index: 30;
        right: -300px;
        transition: right 0.3s ease;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links ul {
        flex-direction: column;
        background-color: var(--nav-bg-color);
        text-align: right;
        
    }
    
    .nav-item {
        border: 1px solid #06387a;
        width: 100%;
        padding-right: 20px;
    }
}